Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving
average of the given sequence is defined as follows:
The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below
i 1 2 3 4 5 6 7 8 9 10
===== == == == == == == == == == ==
Input 10 20 30 40 50 60 70 80 90 100
y1 25 = (10+20+30+40)/4
y2 35 = (20+30+40+50)/4
y3 45 = (30+40+50+60)/4
y4 55 = (40+50+60+70)/4
y5 65 = (50+60+70+80)/4
y6 75 = (60+70+80+90)/4
y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

In [1]:
#Soln
import pandas as pd
data1={'data':[10,20,30,40,50,60,70,80,90,100]}
df=pd.DataFrame(data1)
df1=df.rolling(4).mean()
df1

   data
0   NaN
1   NaN
2   NaN
3  25.0
4  35.0
5  45.0
6  55.0
7  65.0
8  75.0
9  85.0

Write a function to find moving average in an array over a window:
Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [1]:
import numpy as np
def moving_avg(array,window =3):
    out_arr = np.array([])
    '''
    Passing a defined list to a function, initialize an empty array, iterating the passed input list for each element till n-k+1(length of list - window size + 1 ), adding three consecutive elements strating from index = 0 and dividing by window size of 3
    and pushing that calculated value inside that blank array. Once the loop iteration is over function returns the array with appended values.
    '''
    for i in range(len(array)-window+1): 
        sliced_arr = sum(array[i:window+i])/window
        out_arr = np.append(out_arr,sliced_arr)
    return out_arr
list = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
array = np.array(list)
print(moving_avg(array))

[  5.           4.66666667   5.66666667   6.66666667   9.66666667
  28.66666667  49.33333333  72.66666667  84.          93.33333333
 116.33333333]